<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>SmartShoot Super Camera</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
         @viewport {
            orientation: landscape;
        }

        * {
            touch-action: manipulation;
        }

        .monitor {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            border: 0;
        }

        html{position: relative; height: 100%; overflow: hidden;}


        .hole {
            position: fixed;
            box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
        }

        .hole.error {
            box-shadow: 0 0 0 99999px rgba(255, 0, 0, .7);
        }
    </style>
</head>
<body class="font-sans bg-black touch-none">
    <div id="app" class="fixed inset-0">
        <video class="monitor" ref="video" autoplay playsinline></video>
        <canvas ref="canvas" class="hidden"></canvas>

        <div class="hole" :style="maskMargins" :class="{'error': !isValidMask}">
            <div class="absolute inset-0 opacity-50" @touchstart="onTouchStart" @touchmove="onTouchMove" @touchend="onTouchEnd">
                <div class="absolute top-1/3 w-full h-px bg-white"></div>
                <div class="absolute top-2/3 w-full h-px bg-white"></div>
                <div class="absolute left-1/3 h-full w-px bg-white"></div>
                <div class="absolute left-2/3 h-full w-px bg-white"></div>
            </div>
        </div>

        <div
            class="fixed flex justify-center z-4"
            :class="[orientation?.includes('landscape') ? 'flex-col top-1/3 right-5 bottom-1/3' : 'left-1/3 right-1/3 bottom-5']"
        >
            <button @click="captureImage" class="w-16 h-16 bg-white border-4 border-gray-300 rounded-full relative flex items-center justify-center">
                <div class="w-12 h-12 bg-white rounded-full"></div>
            </button>
        </div>


        <div class="flex flex-col fixed bottom-4 left-4 z-8">
            <div class="p-1 text-xl font-semibold text-white m-2 touch-manipulation" :class="['flex-col']" @click="showCapabilities = true">
                <i class="fa fa-circle-info"></i>
            </div>
            <div class="p-1 text-xl font-semibold text-white m-2 touch-manipulation" @click="showFocus = !showFocus" v-if="tools.includes('focusDistance')">
                <i class="fa-solid fa-users-rectangle"></i>
            </div>
            <div class="p-1 text-xl font-semibold text-white m-2 touch-manipulation" @click="showZoom = !showZoom" v-if="tools.includes('zoom')">
                <i class="fa-solid fa-search"></i>
            </div>

            <div class="p-1 m-2 text-white font-black touch-manipulation" @click="onToggleMask()">
                {{ maskAspectRatio}}
            </div>
        </div>

        <div class="fixed bottom-4 right-4 text-white font-black m-2 z-8">
            <div v-if="angle" :class="{'text-red-500': !isValidAngle}">
                {{ angle.toFixed(2) }}°
            </div>
            <div v-else @click="onRequestPermissions(true)">
                <i class="fa fa-compass text-2xl"></i>
            </div>
        </div>

        <div class="absolute top-4 left-12 right-12 flex-col items-center z-10 text-center" v-if="tools.includes('angle') || tools.includes('zoom') || tools.includes('focusDistance')">
            <div class="my-2 bg-opacity-50 bg-black z-10 p-4 rounded-lg text-left" v-if="showFocus">
                <p class="float-right text-sm text-green-500">{{focusDistance}}</p>
                <h1 class="text-sm font-bold mb-2 text-white">Focus Distance</h1>
                <input type="range" v-model="focusDistance" :min="minFocusDistance" step="0.1" :max="maxFocusDistance" @change="applyConstraints($event, 'focusDistance', $event.target.value)" class="w-full" />
            </div>

            <div class="my-2 bg-opacity-50 bg-black z-10 p-4 rounded-lg text-left" v-if="showZoom">
                <p class="float-right text-sm text-green-500">{{zoom}}</p>
                <h1 class="text-sm font-bold mb-2 text-white">Zoom</h1>
                <input type="range" v-model="zoom" :min="minZoom" step="0.1" :max="maxZoom" class="w-full" @change="applyConstraints($event, 'zoom', $event.target.value)" />
            </div>
        </div>

        <div class="fixed inset-0 bg-blue-400 bg-opacity-100 z-10 p-6" v-if="showCapabilities">
            <h1 class="text-lg font-bold mb-4">Camera Capabilities</h1>

            <p class="text-xs text-pretty">
                <p v-for="capability in capabilities" class="my-1">
                    <strong>{{capability.key}}:</strong>
                    {{prettyPrintCapability(capability)}}
                </p>

                <p v-html="debugStr"></p>
            </p>

            <button @click="showCapabilities = false" class="absolute top-4 right-4 ">
                <i class="fa fa-times text-2xl text-white"></i>
            </button>
        </div>
    </div>

    <script>
        const { createApp, computed, ref, onMounted } = Vue;
        let track = null;

        createApp({
            setup() {
                const video = ref(null);
                const canvas = ref(null);
                const capabilities = ref(null);
                const tools = ref([]);
                const showCapabilities = ref(false);
                const showFocus = ref(false);
                const minFocusDistance = ref(0.12);
                const maxFocusDistance = ref(5);
                const focusDistance = ref(0.12);
                const maskAspectRatio = ref("4/3");
                const orientation = ref(screen.orientation.type);
                const maskMargins = ref(null);

                const showZoom = ref(false);
                const minZoom = ref(0.5);
                const maxZoom = ref(5);
                const zoom = ref(0.5);

                const angle = ref(null);
                const debugStr = ref(null);

                let startZoomPctScreen = 1;
                const hypotScreen = Math.hypot(window.screen.width, window.screen.height);

                const calculateMaskMargins = () => {
                    setTimeout(() => {
                        const maskAspectRatioStr = maskAspectRatio.value.split('/').map(Number);
                        const maskAspectRatioNum = maskAspectRatioStr[0] / maskAspectRatioStr[1];

                        const viewportWidth = window.innerWidth;
                        const viewportHeight = window.innerHeight;
                        const viewportAspectRatio = viewportWidth / viewportHeight;

                        let horizontalMargin = 0;
                        let verticalMargin = 0;

                        if (viewportAspectRatio > maskAspectRatioNum) {
                            // Viewport is wider than mask aspect ratio
                            const maskHeight = viewportHeight * 0.7; // 15% margin on top and bottom
                            const maskWidth = maskHeight * maskAspectRatioNum;
                            horizontalMargin = (viewportWidth - maskWidth) / 2;
                            verticalMargin = viewportHeight * 0.15; // 15% margin
                        } else {
                            // Viewport is taller than mask aspect ratio
                            const maskWidth = viewportWidth * 0.7; // 15% margin on left and right
                            const maskHeight = maskWidth / maskAspectRatioNum;
                            horizontalMargin = viewportWidth * 0.15; // 15% margin
                            verticalMargin = (viewportHeight - maskHeight) / 2;
                        }

                        maskMargins.value = {
                            top: `${verticalMargin}px`,
                            bottom: `${verticalMargin}px`,
                            left: `${horizontalMargin}px`,
                            right: `${horizontalMargin}px`
                        };

                    }, 100)
                }

                const isValidAngle = computed(() => !angle.value || (angle.value < 55 && angle.value > 45));
                const isValidMask = computed(() => isValidAngle.value);

                const onLoadStream = async () => {
                    const mediaStream = await navigator.mediaDevices.getUserMedia({ video: {
                        facingMode: "environment",
                        aspectRatio: 16/9,
                        resizeMode: 'crop-and-scale',
                        focusMode: 'continuous',
                        advanced: [{ zoom: Number(zoom.value), focusDistance: Number(focusDistance.value) }]
                    } });

                    video.value.srcObject = mediaStream;

                    track = mediaStream.getVideoTracks()[0];
                    const tc = track.getCapabilities();

                    const EXCLUDE_CAPABILITIES = ['deviceId', 'groupId'];
                    capabilities.value = Object
                        .keys(tc)
                        .filter(key => !EXCLUDE_CAPABILITIES.includes(key))
                        .map((key) => Object.assign({}, { key }, tc[key]));

                    tools.value = capabilities.value.map(capability => capability.key);

                    const focusDistanceCapabilities  = capabilities.value.find(capability => capability.key === 'focusDistance');
                    if (focusDistanceCapabilities) {
                        minFocusDistance.value = focusDistanceCapabilities.min;
                        maxFocusDistance.value = focusDistanceCapabilities.max ?? 3;
                        focusDistance.value = focusDistanceCapabilities.min;
                    }

                    const zoomCapabilities  = capabilities.value.find(capability => capability.key === 'zoom');
                    if (zoomCapabilities) {
                        minZoom.value = zoomCapabilities.min;
                        maxZoom.value = zoomCapabilities.max ?? 3;
                        zoom.value = zoomCapabilities.min;
                    }

                    onRequestPermissions();

                    console.log(`focusDistance: min=${minFocusDistance.value}, max=${maxFocusDistance.value}, value=${focusDistance.value}`)
                    console.log(`zoom: min=${minZoom.value}, max=${maxZoom.value}, value=${zoom.value}`)

                    applyConstraints()
                };

                const captureImage = () => {
                    if (!video.value || !canvas.value) return;

                    const context = canvas.value.getContext('2d');

                    // Get viewport size
                    const viewportWidth = window.innerWidth;
                    const viewportHeight = window.innerHeight;

                    // Get video dimensions from the camera stream
                    const videoWidth = video.value.videoWidth;
                    const videoHeight = video.value.videoHeight;
                    const videoAspectRatio = videoWidth / videoHeight;
                    const viewportAspectRatio = viewportWidth / viewportHeight;

                    let cropWidth, cropHeight, startX, startY;

                    if (videoAspectRatio > viewportAspectRatio) {
                        cropHeight = videoHeight;
                        cropWidth = videoHeight * viewportAspectRatio;
                        startX = (videoWidth - cropWidth) / 2;
                        startY = 0;
                    } else {
                        cropWidth = videoWidth;
                        cropHeight = videoWidth / viewportAspectRatio;
                        startX = 0;
                        startY = (videoHeight - cropHeight) / 2;
                    }

                    // Adjust crop dimensions based on maskMargins
                    const maskMarginsValue = maskMargins.value;
                    const adjustedCropWidth = cropWidth * (1 - 2 * parseFloat(maskMarginsValue.left) / viewportWidth);
                    const adjustedCropHeight = cropHeight * (1 - 2 * parseFloat(maskMarginsValue.top) / viewportHeight);
                    const adjustedStartX = startX + cropWidth * parseFloat(maskMarginsValue.left) / viewportWidth;
                    const adjustedStartY = startY + cropHeight * parseFloat(maskMarginsValue.top) / viewportHeight;

                    // Set canvas size to match adjusted crop dimensions
                    canvas.value.width = adjustedCropWidth;
                    canvas.value.height = adjustedCropHeight;

                    // Draw the cropped video frame onto the canvas
                    context.drawImage(
                        video.value,
                        adjustedStartX, adjustedStartY, adjustedCropWidth, adjustedCropHeight, // Source (video)
                        0, 0, adjustedCropWidth, adjustedCropHeight    // Destination (canvas)
                    );

                    // Convert to high-quality image
                    const imageData = canvas.value.toDataURL('image/jpeg', 1.0); // High quality JPEG
                    const a = document.createElement('a');
                    a.href = imageData;
                    a.download = `${new Date().getTime()}.jpg`;
                    a.click();
                };

                const onTouchStart = (event) => {
                    const touches = event.touches;
                    if (touches.length === 2) {
                        startZoomPctScreen = Math.hypot(touches[0].pageX - touches[1].pageX, touches[0].pageY - touches[1].pageY) / hypotScreen;
                    }
                }

                const onTouchMove = (event) => {
                    event.preventDefault();
                    const touches = event.touches;

                    if (touches.length === 2) {
                        const pctOfScreen = Math.hypot(touches[0].pageX - touches[1].pageX, touches[0].pageY - touches[1].pageY) / hypotScreen
                        const newZoom = zoom.value * Math.min(Math.max(0.92, (pctOfScreen / startZoomPctScreen)), 1.08);

                        console.log(`pinch: old=${zoom.value}, new=${newZoom}`)

                        zoom.value = Math.min(Math.max(minZoom.value, newZoom), maxZoom.value);
                        applyConstraints(undefined, 'zoom', zoom.value);
                    }
                };

                const onTouchEnd = () => {
                    startZoomPctScreen = null;
                };

                const prettyPrintCapability = (capability) => {
                    return Object.keys(capability).filter((key) => key !== 'key').map(key => `${key}=${capability[key]}`).join(', ')
                }

                const applyConstraints = (event, dimension, val) => {
                    if (dimension === 'zoom') zoom.value = val;
                    else if (dimension === 'focusDistance') focusDistance.value = val;

                    if (dimension) console.log(`apply: ${dimension}=${val}`)

                    track?.applyConstraints({ advanced: [{ zoom: Number(zoom.value), focusDistance: Number(focusDistance.value) }] });
                }

                onMounted(async () => {
                    onLoadStream();
                    calculateMaskMargins();

                    if (screen?.orientation) {
                        screen.orientation.addEventListener("change", (event) => {
                            orientation.value = event.target.type;
                            if (event.beta !== null) angle.value = event.beta;
                            calculateMaskMargins();
                        });

                        if (screen.orientation.lock) screen.orientation.lock('landscape-primary');
                    }
                });

                const onToggleMask = () => {
                    switch (maskAspectRatio.value) {
                        case "4/3":
                            maskAspectRatio.value = "5/4";
                            break;
                        case "5/4":
                            maskAspectRatio.value = "16/9";
                            break;
                        case "16/9":
                            maskAspectRatio.value = "4/3";
                            break;
                        default:
                            maskAspectRatio.value = "4/3";
                    }

                    calculateMaskMargins();
                }

                const onRequestPermissions = async (request) => {
                    console.log('what', request)
                    if (request && DeviceMotionEvent?.requestPermission) {
                        console.log('requesting permission')
                        await DeviceMotionEvent.requestPermission()
                    }
                    tools.value.push('angle');
                }

                return {
                    video,
                    canvas,
                    captureImage,
                    capabilities,
                    showCapabilities,
                    prettyPrintCapability,
                    tools,
                    angle,
                    debugStr,
                    onTouchStart,
                    onTouchMove,
                    onTouchEnd,

                    showFocus,
                    minFocusDistance,
                    maxFocusDistance,
                    focusDistance,

                    showZoom,
                    minZoom,
                    maxZoom,
                    zoom,

                    maskMargins,
                    maskAspectRatio,
                    onToggleMask,

                    isValidAngle,
                    isValidMask,

                    onRequestPermissions,

                    orientation,

                    applyConstraints
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
