<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>SmartShoot Super Camera</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
        .monitor {
            position: absolute;
            inset: 0;
            margin: auto;
            border: 0;
        }

        .hole {
            position: absolute;
            box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
        }

        .hole.error {
            box-shadow: 0 0 0 99999px rgba(255, 0, 0, .5);
        }
    </style>
</head>
<body class="font-sans touch-none">
    <div id="app" class="max-h-screen h-screen">
        <div v-if="pane === 'permissions'" class="p-8">
            <h1 class="text-2xl font-black mb-4">Grant Permission</h1>
            <p>Our super smart camera needs your permission to acess your camera and motion sensors.</p>

            <div class="fixed left-0 right-0 bottom-8 text-center">
            <button class="text-white font-bold text-sm rounded-2xl px-6 py-3" style="background-color: #00AEEF;" @click="onRequestPermissions">Grant Permission</button>
            </div>
        </div>
        <div v-else-if="pane === 'camera'" class="flex flex-col h-screen">
            <div class="relative overflow-hidden h-2/5 bg-black" ref="cameraCntr">
                <video class="monitor" ref="video" autoplay playsinline></video>
                <canvas ref="canvas" class="hidden"></canvas>
                <div class="hole absolute inset-0" :style="maskMargins" :class="{'error': !isValidMask}">
                </div>

                <div class="absolute inset-0 opacity-50 z-10" :style="maskMargins">
                    <div class="absolute top-1/3 w-full h-px bg-white"></div>
                    <div class="absolute top-2/3 w-full h-px bg-white"></div>
                    <div class="absolute left-1/3 h-full w-px bg-white"></div>
                    <div class="absolute left-2/3 h-full w-px bg-white"></div>
                </div>

                <div class="fixed top-4 left-0 right-0 text-center" v-if="angle">
                    <div class="inline-block text-black text-sm font-black z-10 bg-white rounded-lg px-3 py-1">
                        {{ angle?.toFixed(0) }}°
                    </div>
                </div>
            </div>

            <div class="flex-1 px-6 pt-6 pb-48 overflow-auto">
                <h3 class="font-bold">UberEats Guidelines</h3>
                <ul class="list-disc pl-5">
                    <li>Use a tripod to avoid camera shake</li>
                    <li>Show ingredients</li>
                    <li>Use soft consistent lighting</li>
                    <li>Center the item in the middle of the frame</li>
                    <li>Dish filling 70-80% of frame</li>
                    <li>90mm-105mm focal lengths are ideal if space allows - Step back from the dish and zoom into your subject, shooting too close may cause warped plates/tables</li>
                    <li>No wide angle lens shots</li>
                    <li>35-45° angle works best for most dishes</li>
                    <li>0-20° works best for Burgers/Sandwiches/Beverages</li>
                    <li>90° works well for flat items such as Pizza</li>
                    <li>Check for focus and sharpness after every shot</li>
                </ul>
            </div>

            <div class="fixed bottom-0 left-0 right-0 flex justify-center py-5 border-t border-gray-200 min-h-1/3 bg-white shadow-lg">
                <div class="flex-1 flex items-center justify-center">
                    <div class="font-black text-gray-700 rounded-md px-3 py-1 text-center  text-sm border-2 border-gray-500" @click="onToggleMask()">
                        {{ maskAspectRatio}}
                    </div>
                </div>
                <button @click="captureImage" class="w-14 h-14 mx-4 bg-white border-4 border-gray-500 rounded-full relative flex items-center justify-center">
                    <div class="w-12 h-12 bg-gray-50 rounded-full"></div>
                </button>
                <div class="flex-1 flex items-center justify-center">
                </div>
            </div>
        </div>
    </div>

    <script>
        const { createApp, computed, ref, onMounted } = Vue;
        let track = null;

        createApp({
            setup() {
                const video = ref(null);
                const canvas = ref(null);

                const pane = ref('permissions');

                const maskAspectRatio = ref("4/3");
                const orientation = ref(screen.orientation.type);
                const maskMargins = ref(null);
                const cameraCntr = ref(null);

                const showZoom = ref(false);
                const minZoom = ref(0.5);
                const maxZoom = ref(5);
                const zoom = ref(0.5);

                const angle = ref(null);
                const debugStr = ref(null);

                const calculateMaskMargins = () => {
                    setTimeout(() => {
                        const maskAspectRatioStr = maskAspectRatio.value.split('/').map(Number);
                        const maskAspectRatioNum = maskAspectRatioStr[0] / maskAspectRatioStr[1];

                        const viewportWidth = cameraCntr.value.clientWidth;
                        const viewportHeight = cameraCntr.value.clientHeight;
                        const viewportAspectRatio = viewportWidth / viewportHeight;

                        let horizontalMargin = 0;
                        let verticalMargin = 0;

                        if (viewportAspectRatio > maskAspectRatioNum) {
                            // Viewport is wider than mask aspect ratio
                            const maskHeight = viewportHeight * 0.8; // 15% margin on top and bottom
                            const maskWidth = maskHeight * maskAspectRatioNum;
                            horizontalMargin = (viewportWidth - maskWidth) / 2;
                            verticalMargin = viewportHeight * 0.05; // 15% margin
                        } else {
                            // Viewport is taller than mask aspect ratio
                            const maskWidth = viewportWidth * 0.8; // 15% margin on left and right
                            const maskHeight = maskWidth / maskAspectRatioNum;
                            horizontalMargin = viewportWidth * 0.05; // 15% margin
                            verticalMargin = (viewportHeight - maskHeight) / 2;
                        }

                        maskMargins.value = {
                            top: `${verticalMargin}px`,
                            bottom: `${verticalMargin}px`,
                            left: `${horizontalMargin}px`,
                            right: `${horizontalMargin}px`
                        };

                    }, 100)
                }

                const isValidAngle = computed(() => !angle.value || (angle.value <= 50 && angle.value >= 40));
                const isValidMask = computed(() => isValidAngle.value);

                const onLoadStream = async () => {
                    const mediaStream = await navigator.mediaDevices.getUserMedia({
                        video: {
                            facingMode: "environment",
                            aspectRatio: {exact: 16/9},
                            focusMode: 'continuous',
                            advanced: [{ zoom: Number(zoom.value) }]
                        }
                    });

                    video.value.srcObject = mediaStream;

                    track = mediaStream.getVideoTracks()[0];
                    const tc = track.getCapabilities();

                    applyConstraints()
                };

                const captureImage = () => {
                    if (!video.value || !canvas.value) return;

                    const context = canvas.value.getContext('2d');

                    // Get viewport size
                    const viewportWidth = cameraCntr.value.clientWidth;
                    const viewportHeight = cameraCntr.value.clientHeight;

                    // Get video dimensions from the camera stream
                    const videoWidth = video.value.videoWidth;
                    const videoHeight = video.value.videoHeight;
                    const videoAspectRatio = videoWidth / videoHeight;
                    const viewportAspectRatio = viewportWidth / viewportHeight;

                    let cropWidth, cropHeight, startX, startY;

                    if (videoAspectRatio > viewportAspectRatio) {
                        cropHeight = videoHeight;
                        cropWidth = videoHeight * viewportAspectRatio;
                        startX = (videoWidth - cropWidth) / 2;
                        startY = 0;
                    } else {
                        cropWidth = videoWidth;
                        cropHeight = videoWidth / viewportAspectRatio;
                        startX = 0;
                        startY = (videoHeight - cropHeight) / 2;
                    }

                    // Adjust crop dimensions based on maskMargins
                    const maskMarginsValue = maskMargins.value;
                    const adjustedCropWidth = cropWidth * (1 - 2 * parseFloat(maskMarginsValue.left) / viewportWidth);
                    const adjustedCropHeight = cropHeight * (1 - 2 * parseFloat(maskMarginsValue.top) / viewportHeight);
                    const adjustedStartX = startX + cropWidth * parseFloat(maskMarginsValue.left) / viewportWidth;
                    const adjustedStartY = startY + cropHeight * parseFloat(maskMarginsValue.top) / viewportHeight;

                    // Set canvas size to match adjusted crop dimensions
                    canvas.value.width = adjustedCropWidth;
                    canvas.value.height = adjustedCropHeight;

                    // Draw the cropped video frame onto the canvas
                    context.drawImage(
                        video.value,
                        adjustedStartX, adjustedStartY, adjustedCropWidth, adjustedCropHeight, // Source (video)
                        0, 0, adjustedCropWidth, adjustedCropHeight    // Destination (canvas)
                    );

                    // Convert to high-quality image
                    const imageData = canvas.value.toDataURL('image/jpeg', 1.0); // High quality JPEG
                    const a = document.createElement('a');
                    a.href = imageData;
                    a.download = `${new Date().getTime()}.jpg`;
                    a.click();
                };

                const applyConstraints = (event, dimension, val) => {
                    if (dimension === 'zoom') zoom.value = val;

                    if (dimension) console.log(`apply: ${dimension}=${val}`)

                    track?.applyConstraints({ advanced: [{ zoom: Number(zoom.value) }] });
                }

                const onToggleMask = () => {
                    switch (maskAspectRatio.value) {
                        case "4/3":
                            maskAspectRatio.value = "5/4";
                            break;
                        case "5/4":
                            maskAspectRatio.value = "16/9";
                            break;
                        case "16/9":
                            maskAspectRatio.value = "4/3";
                            break;
                        default:
                            maskAspectRatio.value = "4/3";
                    }

                    calculateMaskMargins();
                }

                const onRequestPermissions = async () => {
                    if (DeviceMotionEvent?.requestPermission) await DeviceMotionEvent.requestPermission()

                    onLoadStream();
                    calculateMaskMargins();

                    window.addEventListener("deviceorientation", (event) => {
                        if (event.beta !== null) angle.value = event.beta;
                    })

                    pane.value = 'camera'
                }

                return {
                    video,
                    canvas,
                    captureImage,
                    angle,
                    debugStr,

                    showZoom,
                    minZoom,
                    maxZoom,
                    zoom,

                    maskMargins,
                    maskAspectRatio,
                    onToggleMask,

                    isValidAngle,
                    isValidMask,

                    pane,
                    cameraCntr,

                    onRequestPermissions,

                    applyConstraints
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
